$blue: blue;
$gray: #E6E6E6;
$lightGray: #D8D8D8;
$mediumGray: #979797;
$darkGray: #616161;
$blackGray: #272822;
$primary: rgb(33,150,243);
$secondary: rgb(200,230,201);
$materialBlue: #00bcd4;
$white: #ffffff;
$navbar: $white;
$navbarText: $white;
$subNavbar: $white;
$editorBackground: $blackGray;
$success: #c8e6c9;
$error: #ffa3a3;
$accentColor: #03A9F4;
$Tab: #333333;
$linkBlue: #427fed;
$background: $white;

$color-main: #1B62A0;
$color-secondary: #12A76F;
