.wrapper {
  padding-bottom: 2rem;
  // animation-name: fadeInRight;
  // animation-duration: 600ms;
  // animation-delay: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    // transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    // transform: none;
  }
}
